/* ===== Page ===== */

.login-page{
    display:flex;
    height:100vh;
    background:#F5F7FB;
}

/* ===== Left Section ===== */

.login-left{

    flex:1;

    background:linear-gradient(
    135deg,
    #2563EB,
    #1E3A8A);

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    padding:60px;

}

.brand{

    max-width:450px;

}

.logo{

    width:80px;
    height:80px;

    background:white;

    color:#2563EB;

    border-radius:16px;

    display:flex;

    justify-content:center;
    align-items:center;

    font-size:28px;

    font-weight:bold;

    margin-bottom:40px;

}

.brand h1{

    font-size:40px;

    margin-bottom:20px;

    color:white;

}

.brand p{

    font-size:18px;

    line-height:1.7;

}

/* ===== Right Section ===== */

.login-right{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-card{

    width:430px;

    background:white;

    padding:45px;

    border-radius:20px;

    box-shadow:
    0 15px 40px
    rgba(0,0,0,.08);

}

.login-card h2{

    margin-bottom:10px;

}

.login-card p{

    margin-bottom:35px;

    color:gray;

}

/* ===== Inputs ===== */

.input-group{

    display:flex;

    flex-direction:column;

    margin-bottom:22px;

}

.input-group label{

    margin-bottom:8px;

    font-weight:600;

}

.input-group input{

    padding:14px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    outline:none;

    font-size:16px;

}

.input-group input:focus{

    border-color:#2563EB;

}

/* ===== Remember ===== */

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.login-options a{

    color:#2563EB;

    text-decoration:none;

}

.login-options a:hover{

    text-decoration:underline;

}

/* ===== Button ===== */

button{

    width:100%;

    padding:15px;

    border:none;

    background:#2563EB;

    color:white;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1E40AF;

}