.login-page{

    display:flex;
    min-height:100vh;

}

.login-right{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f4f7fb;

}

.login-card{

    width:430px;

    background:white;

    padding:50px;

    border-radius:18px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}